header {
  display: flex;
  justify-content: center;
  background-color: #f4efef;
  margin: 0 20px 0 20px;
  border-radius: 10px;
}

.sphere {
  fill: #ffffff;
}

@media (max-width: 768px) {
  .card {
    min-width: 150px;
    max-width: 250px;
    padding: 0.75rem;
  }
}

#worldmap {
  width: 60%;
  height: auto;
  max-width: 100%;
  display: block;
}

object {
  background-color: #f4efef;
  margin: 20px auto;
  width: 100%;
  border-radius: 10px;
} 

html { 
  scroll-behavior: smooth; 
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  background-color: white;
}

body {
  padding-top: 70px;
}

.navbar-brand {
  font-weight: bold !important;
  color: #9a9cea !important;
}


.nav-link {
  font-size: 16px;
  padding: 8px 16px !important;
}

.btn-primary {
  padding: 8px 20px !important;
  border-radius: 5px !important;
  color: #567e81 !important;
  background-color: #80afdf !important;
  border: none !important;
}

.btn-primary:hover {
  background-color: #6b9ed8 !important;
  color: #9ee8ec !important;
}


.card {
  box-shadow: 0 0 10px #a2b9ee;
  width: 18rem; 
  height: 100%;
  border-color: #9a9cea; 
  border-width: 2px;
  display: flex;
  flex-direction: column;
}
.card-img-top {
  object-fit: cover;
  height: 280px;
  width: 100%;
}
.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
p{
flex-grow:1;
}
