.header {
  display: flex;
  justify-content: center;
}


.sphere {
  fill: #ffffff;
}

.card {
  position: absolute;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  display: none;
}

#worldmap {
  width: 60%;
  height: auto;
  max-width: 100%;
  display: block;
}

object {
  background-color: #f4efef;
  margin: 20px auto;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
} 

html { 
  scroll-behavior: smooth; 
} 